<br /><br />
<h1>Computer builds</h1>


<br />
<br /><br />
	<p class="info">
		There are many components involved with bulding gaming computers, here are some of my favorites.
	</p>
<br class="clear" />

<div class="Picture">
	<h2>Pictures</h2> 
</div>

