<br />
<h1>Computer builds</h1>
<br />
<br /><br />

<p>
	There are many components involved with bulding gaming computers, here are some of my favorites.
</p>

<div class="Picture">
	<h2>Pictures</h2> 
</div>

