<br /><br />
<h1>Computers</h1>

<% @computers.each do |computer| %>
  <div>
    <h4><%= computer.name %></h4><br />
    <p><%= computer.description %></p><br />
  </div>

  <hr />
<% end %>

<br />
<br /><br />

<div class="Picture">
	<h2>Pictures</h2> 
</div>

