@import "bootstrap";

h1, h2 {
	color: maroon;;
	text-align: center;
}

.info {
	font-style: italic;
	text-indent: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

.nav {
	color: maroon;
	font-size: 26px;
}