@import "bootstrap";

h1, h2 {
	color: black;
	text-align: center;
}

body {
  background: url('bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
}